---
import "./../styles/global.css";
import OverallBlogs from "@/components/OverallBlogs";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Blogs</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <main>
      <!-- Client-side fetch -->
      <OverallBlogs client:load />
    </main>
  </body>
</html>
